<div ng-controller="IndexCtrl">

    <div class="ngdialog theme-default spinner">
        <div class="ngdialog-overlay"></div>
        <div class="ngdialog-content">
            <div class="body-inner">
                <div class="modal-body ngdialog-message">

                    <div class="loading-wrapper">
                        <div class="loading">
                            <div class="animator"></div>
                            <div class="logo">壹</div>
                        </div>
                        <div class="message">加载中...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
