<div ng-controller="AddNewBankCardCtrl" class="add-new-bank-card-page">
     <p class="container-fluid">
		仅支持储蓄卡
	</p>
	<form name="addNewBankForm">
		<div class="input-group">
			<span for="" class="input-group-addon">银行卡号</span>
			<input type="tel" name="bankCard" required minlength="16" maxlength="19" class="form-control" placeholder="请输入您的银行卡号" data-ng-model="bankCardNum">
			<span class="tips" ng-show="addNewBankForm.bankCard.$error.minlength||addNewBankForm.bankCard.$error.maxlength">请输入正确的银行卡号<span class="caret"></span></span>
		</div>
		<p class="clearfix text-right container-fluid">
            <span class="view-bank-card" data-ng-click="viewSupportedBankCard()">查看支持银行</span>
        </p>
		<div class="container-fluid btn-container">
			<button type="button" class="btn btn-primary btn-block btn-alone" data-ng-disabled="addNewBankForm.$invalid" data-ng-click="addNewBankCard()">下一步</button>
		</div>
	</form>
	<p class="text-center contribution-company">
        资金安全由平安保险承保
    </p>
</div>