<div ng-controller="ViewBankCardDetailCtrl" class="view-bank-card-detail-page">
     <div class="bank-card-info" ng-show="showDetail">
     	<p class="container-fluid">
			<span ng-bind="bankName"></span> 尾号<span ng-bind="bankCardTail"></span>的储蓄卡
		</p>
		<form name="verifyUserInfoForm" class="form-horizontal">
            <div class="input-group border-collapse" data-ng-class="{disabled: realName}">
	            <span class="input-group-addon">姓名</span>
	            <input type="text" class="form-control" placeholder="请输入您的真实姓名" required data-ng-model="realName" ng-readonly="realName" />
	        </div>
	        <div class="input-group border-collapse" data-ng-class="{disabled: idCardNum}">
	            <span class="input-group-addon">身份证</span>
	            <input type="text" class="form-control" placeholder="请输入您的身份证号" required data-ng-model="idCardNum" ng-readonly="idCardNum" />
	        </div>
	        <div class="input-group">
	            <span class="input-group-addon">手机号</span>
	            <input name="mobile" type="tel" class="form-control" placeholder="此卡在银行预留手机号" required data-ng-model="phone" mobile />
	           <span class="tips" ng-show="verifyUserInfoForm.mobile.$error.mobile">请输入正确的手机号码<span class="caret"></span></span>
	        </div>
	        <div class="container-fluid btn-container">
				<button type="button" class="btn btn-primary btn-block btn-alone" ng-disabled="!verifyUserInfoForm.$valid" ng-click="verifyUserInfo()">下一步</button>
			</div>
        </form>
     </div>
     <div class="send-verification-code" ng-show="!showDetail">
     	<p class="container-fluid">
			<span ng-bind="bankName"></span> 尾号<span ng-bind="bankCardTail"></span>的储蓄卡
			<br>
			<span ng-bind="realName"></span> <span ng-bind="idCardNum"></span>
		</p>
     	<form name="otpForm" class="otp-hide">
            <div otp-suites ignore-mobile="false" try-send-otp-service-name="sendSMSCodeProcess" auto-send-otp="true" extra-data="otpExtraData" otp-input="otpInput" otp-result="otpResult" phone="otpPhoneNumber" hide-mobile-control="true" has-otp-passed="hasOtpPassed(data)" trigger-send="triggerSend"></div>

			<div class="container-fluid btn-container">
				<button class="btn btn-primary btn-block" ng-click="addBankCardHandler()" ng-disabled="!otpForm.$valid" type="button">确&nbsp;&nbsp;定</button>
			</div>
        </form>
     </div>
</div>
