<div ng-controller="SelectAccountCtrl" class="select-acount-page container-fluid">
    <div class="select-acount-content">
        <p class="select-acount-username text-left">
        <span data-ng-bind="userInfo.realNameY"></span> &nbsp;&nbsp;
        <span data-ng-bind="userInfo.idCardNumY"></span>
        </p>
        <p class="select-acount-select-text text-left">
        请选择您要绑定的壹钱包账号
        </p>
        <div class="select-accounts">
            <ul class="list-unstyled">
                <li ng-click="selectedAccount(account)" ng-class="{'account':true, 'account-active':selectedAccountItem==account}" ng-repeat="account in accoutList">
                    <img ng-src="{{accountPic}}" class="img-circle">
                    <span data-ng-bind="getMaskedStr(account)"></span>
                </li>
            </ul>
        </div>
        <p class="text-left">
        <span class="open-account-text">不绑定以上账户，新开账户</span>
        <br>
        <a href="" class="open-account" ng-click="regAccount()">开通</a>
        </p>
        <div class="btn-group-divide">
            <button type="button" ng-click="bindAccount()" class="btn btn-alone btn-primary btn-block">确定</button>
        </div>
    </div>
</div>

<p class="bottom-tips">本产品由壹钱包提供，我们将为你开通壹钱包账户</p>
