<div ng-controller="VerifyPaypassCtrl" class="loginpass-page">
    <p class="container-fluid account-container">
    <small>壹钱包账户</small>
    <br>{{mobilenum}}
    </p>
    <form role="form" class="ng-pristine ng-valid" name="verifyForm">
        <p class="tips">为了您的账户安全，请验证您的壹钱包支付密码</p>
        <div class="input-group">
            <span class="input-group-addon" for="exampleInputPassword1">支付密码</span>
            <input type="{{inputType||'password'}}" class="form-control" placeholder="请输入壹钱包支付密码" ng-model="payPass" required />
        </div>
        <p class="clearfix change-pwd-type pull-right">
            <span class="btn-tips" ng-click="switchPwdShow()">{{switchPwdText||'显示'}}</span>
        </p>
        <p class="container-fluid forget-pwd">
        忘记密码请拨打<span>4008880999</span>
        </p>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="!verifyForm.$valid" ng-click="handleVerifyPwd()">下一步</button>
        </div>
    </form>
</div>