<div ng-controller="PayToBankCardCtrl" class="pay-to-bank-card-page">
      <div class="bank-list">
            <p class="select-bank-text text-left container-fluid">
                选择转出银行卡
            </p>
            <form name="payForm">
	            <div class="select-bank container-fluid">
	            	<div class="scroll">
		                <ul class="list-unstyled bank-items" style="width: {{bankItemWidth}}">
		                    <li ng-click="selectedBank(bankItem)" ng-class="{'bank-item':true, 'bank-active':selectedBankItem==bankItem}" ng-repeat="bankItem in bankList">
		                        <div data-ng-bind="bankItem.bankName"></div>
		                        <div data-ng-bind="bankItem.bankCardNum"></div>
		                        <div data-ng-bind="bankItem.bankCardType"></div>
		                    </li>
		                    <li  class="bank-item add-bankcard">
		                        <div ng-click="addNewBankCard()"><i class="plus">+</i>&nbsp;添加银行卡</div>
		                    </li>
		                </ul>
	                </div>
	            </div>

	            <div class="input-group">
		            <span class="input-group-addon" for="exampleInputPassword1">转出金额</span>
		            <input type="number" name="payAmount" data-ng-model="amount" class="form-control" placeholder="请输入金额" required fn-validation="checkAmoumt" >
		            <span class="tips" ng-bind="payAmount_error" ng-show="payForm.payAmount.$error.payAmount">
						<span class="caret"></span>
					</span>
		        </div>
		        <p class="clearfix text-right container-fluid max-amt">
					<small>本次可转出最大金额{{maxAmt}}元</small>
				</p>
	            <div class="btn-group-divide container-fluid">
	                <button type="button" ng-click="payPwdConfirm()" class="btn btn-alone btn-primary btn-block" data-ng-disabled="!validate()">下一步</button>
	            </div>
        	</form>
        </div>
</div>
