<div class="testpage" ng-controller="DocCtrl">
    <!-- show form items controls here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">字体，数字，英文展示</div>
        </div>
        <div class="panel-body">
            <span style="font-size:36px;font-weight:200;">12999.30%</span>
        </div>
    </div>
    <!-- show form items controls here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">UI Forms</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">

                <div class="input-group">
                    <span class="input-group-addon">用户名:</span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <div class="input-group disabled">
                    <span class="input-group-addon">禁用状态:</span>
                    <input type="text" class="form-control" readonly="readonly" placeholder="Username">
                </div>

                <div class="input-group">
                    <span class="small">标题信息</span>
                    <div class="input-group-inner">
                        <span class="input-group-addon">用户名:</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">用户名:</span>
                    <input type="text" class="form-control" placeholder="Username">
                    <span class="tips">错误信息<span class="caret"></span></span>
                </div>
                <div class="btn-group-divide">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-alone btn-default btn-block">左边按钮</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-alone btn-primary btn-block">右边按钮</button>
                    </div>
                </div>
                <button type="button" class="btn btn-alone btn-default btn-block">白色按钮</button>
                <button type="button" class="btn btn-alone btn-info btn-block">黄色按钮</button>
                <a href="#" class="btn btn-alone btn-block btn-info">黄色按钮 LINK</a>

                <button type="button" class="btn btn-alone btn-info disabled btn-block">Disabled按钮</button>
                <button type="button" ng-click="formSubmit()" class="btn btn-alone btn-primary btn-block">提交表单</button>
            </form>

            <form class="form-horizontal merged-form-items">
                <div class="input-group border-collapse">
                    <span class="input-group-addon">用户名:</span>
                    <input type="text" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group border-collapse">
                    <span class="input-group-addon">密  码:</span>
                    <input type="text" class="form-control" placeholder="密  码">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">其他项:</span>
                    <input type="text" class="form-control" placeholder="其他项">
                </div>
            </form>
        </div>
    </div>

    <!-- show ui dialog controls here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">UI Otp</div>
        </div>
        <div>
            <form name="otpForm">
                <div otp-suites trigger-send="triggerSend" ignore-mobile="false" auto-send-otp="true" extra-data="otpExtraData" otp-input="otpInput" otp-result="otpResult" phone="otpPhoneNumber" hide-mobile-control="true" has-otp-passed="hasOtpPassed(data)"></div>

                <div class="input-group">
                    <span class="input-group-addon">其  他:</span>
                    <input type="text" required class="form-control" ng-model="password" placeholder="其  他">
                </div>

                <button class="btn btn-primary btn-block" ng-click="otpFormSubmit(otpForm.$valid)" ng-disabled="!otpForm.$valid" type="button">表单提交</button>
                <pre>  {<br>    "otp Mobile": `{{otpPhoneNumber}}`,<br>    "otpInput": `{{otpInput}}`,<br>    "otpResult":`{{otpResult}}`<br>  }   </pre>
            </form>
        </div>
    </div>

    <!-- show ui dialog controls here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">UI Dialogs</div>
        </div>
        <div class="panel-body">
            <button type="button" ng-click="showSpinner()" class="btn btn-primary btn-block">show Spinner</button>
            <button type="button" ng-click="openAlertBox()" class="btn btn-primary btn-block">打开Alert弹框</button>
            <button type="button" ng-click="openShareBox()" class="btn btn-primary btn-block">打开shareBox弹框</button>
            <button type="button" ng-click="openConfirmBox()" class="btn btn-primary btn-block">打开confirm弹框</button>
            <button type="button" ng-click="closeConfirmBox()" class="btn btn-primary btn-block">代码执行关闭Dialog</button>

            <button type="button" ng-click="fullSreenControl()" class="btn btn-primary btn-block">全屏弹窗</button>

            <button type="button" ng-click="setNewPageTitle()" class="btn btn-primary btn-block">设置自定义标题</button>
            <button type="button" ng-click="showIframeDialog()" class="btn btn-primary btn-block">展示Iframe弹框</button>

        </div>
    </div>

    <!-- show local user service testing apis here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Helper Utilities API</div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="helper.cacheValue.name" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="helper.cacheValue.password" placeholder="password">
            </div>
            <pre>{{ helper.cacheValue }}</pre>
            <div class="btn-group-divide">
                <button type="button" ng-click="passwordEncrypt()" class="btn btn-alone btn-primary btn-block">密码加密</button>

                <pre>
                https://tes5-www.stg.1qianbao.com:18443/auth/generatekey
                {"merchantNo":"900000014153","id":"310110190001011235","idType":"I","uid":"AE841DFD29664F328343865B25A9352C","realName":"\u6d4b\u8bd5","mp":"15202115567"}</pre>

                <div class="input-group">
                    <span class="input-group-addon">Token:</span>
                    <input type="text" class="form-control" ng-model="tokenKey" placeholder="">
                </div>

                <button type="button" ng-click="generateH5Session('3ce3a8d3ebe443e69a387cd62e524b75')" class="btn btn-alone btn-primary btn-block">生成SessionCookie</button>

                <button type="button" ng-click="recoveryLocalStorage()" class="btn btn-alone btn-primary btn-block">恢复LocalStorage</button>
                <button type="button" ng-click="setLocalStorage();" class="btn btn-alone btn-primary btn-block">设置LocalStorage</button>
                <button type="button" ng-click="getLocalStorageVal()" class="btn btn-alone btn-primary btn-block">获取LocalStorage</button>
                <button type="button" ng-click="clearLocalStorage()" class="btn btn-alone btn-primary btn-block">清除LocalStorage</button>
            </div>
        </div>
    </div>

    <!-- show local user service testing apis here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">UserService API</div>
        </div>
        <div class="panel-body">
            <button type="button" ng-click="getUserInfo()" class="btn btn-primary btn-block">根据token获取用户信息</button>

            <button type="button" ng-click="checkUserInfo()" class="btn btn-primary btn-block">核对用户身份信息</button>

            <button type="button" ng-click="bindCmaByOldUser()" class="btn btn-primary btn-block">老用户开通cma账户流程</button>

            <button type="button" ng-click="bindCmaByNewUser()" class="btn btn-primary btn-block">用户注册并开户</button>
        </div>
    </div>
    <!-- show asset testing apis here-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">AssetService API</div>
        </div>
        <div class="panel-body">
            <button type="button" ng-click="getHomeData()" class="btn btn-primary btn-block">用户资产首页数据</button>

            <button type="button" ng-click="doIncome()" class="btn btn-primary btn-block">转入</button>

            <button type="button" ng-click="getBalance()" class="btn btn-primary btn-block">获取用户商户余额</button>

            <button type="button" ng-click="doPay()" class="btn btn-primary btn-block">转出</button>

            <button type="button" ng-click="getTransDetail()" class="btn btn-primary btn-block">查询交易明细</button>

            <button type="button" ng-click="getEarningsDetail()" class="btn btn-primary btn-block">查询累计收益明细</button>
        </div>
    </div>
</div>
