<div ng-controller="EarningsCtrl" class="earnings-page">
    <div class="head" style="background:url({{head_bg}});">
        <div class="container-fluid">
            <p class="total-amt-text">收益总额(元)</p>
            <p class="total-amt">
            <span class="total-amt-integer" data-ng-bind="totalGains[0]"></span>
            <sup class="total-amt-decimal" data-ng-bind="totalGains[1]"></sup>
            </p>
        </div>
    </div>
    <div ng-class="{'earnings-no-data':true, 'hide':isNoData}">
        <img ng-src="{{isNoData_img}}" class="img-responsive" alt="Responsive image">
        <p class="no-data-msg">该时间内无收益记录</p>
    </div>
    <div class="container hide" ng-class="{'container':true, 'hide':hideEarnings}">
        <div class="container-fluid">
            <div class="earnings-graph">
                <div class="earnings-date pull-left">
                    <ul class="list-unstyled earnings-date-list">
                        <li class="graph-title">日期</li>
                        <li ng-repeat="detail in gainsDetail" data-ng-bind="detail.incomeDate"></li>
                    </ul>
                </div>
                <div class="earnings-y pull-left" style="height: {{timeAxis}}">
                    <i>●</i>
                </div>
                <div class="earnings-amt pull-left">
                    <ul class="list-unstyled earnings-amt-list">
                        <li class="graph-title">日收益(元)</li>
                        <li ng-repeat="detail in gainsDetail">
                            <div ng-class="{'percentage-bar pull-left':true, 'percentage-bar-latest':detail.isLatestIncome}" style="width: {{detail.inComewidth}}"></div>
                            <span ng-class="{'amt-money pull-left':true, 'amt-money-latest':detail.isLatestIncome}">
                            {{detail.userIncome[0]}}{{detail.userIncome[1]}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>