<div ng-controller="IncomeCtrl" class="income-page">
    <p class="container-fluid income-page-subTitle">
        <span data-ng-bind="merchantAccountName"></span>余额
        <br>
        <span class="totle-amount">
            <span class="total-amount-integer" data-ng-bind="balance[0]"></span>
            <sup class="total-amount-decimal" data-ng-bind="balance[1]"></sup>
        </span>
    </p>
    <form name="incomeForm">
        <div class="input-group">
            <span class="input-group-addon" for="exampleInputPassword1">转入金额</span>
            <input type="number" name="incomeAmount" class="form-control" data-ng-model="amount" placeholder="请输入金额" required fn-validation="checkAmoumt" autocomplete="off">
            <span class="tips" ng-show="incomeForm.incomeAmount.$error.incomeAmount">
                {{incomeAmount_error}}
                <span class="caret"></span>
            </span>
        </div>
       
        <p class="clearfix container-fluid">
            <a href="javascript:void(0);" ng-click="earningsRule()" class="pull-right">《收益规则》</a>
        </p>
        <div class="container-fluid btn-container">
            <button type="button" class="btn btn-primary btn-block" ng-click="incomeConfirm()" data-ng-disabled="!incomeForm.$valid">下一步</button>
        </div>
    </form>
</div>
