<div class="infoPage" ng-controller="InfoCtrl">
    <p class="container-fluid fn-mb20">
    <small>为保障您的账户信息真实有效，请务必仔细核实您的个人信息，空白项请补充完整</small>
    </p>
    <form name="info">
        <div class="input-group border-collapse" data-ng-class="{disabled: isRealNameExist}">
            <span class="input-group-addon" for="realName">真实姓名</span>
            <input name="realName" type="text" class="form-control" placeholder="请输入您的真实姓名" data-ng-model="realName" ng-readonly="isRealNameExist" required />
            <span class="tips" ng-show="info.realName.$error.realName">姓名不能为空<span class="caret"></span></span>
        </div>
        <div class="input-group border-collapse" data-ng-class="{disabled: isIdCardNumExist}">
            <span class="input-group-addon" for="idCardNum">身份证号</span>
            <input name="idCardNum" type="text" class="form-control" placeholder="请输入您的身份证号" data-ng-model="idCardNum" ng-readonly="isIdCardNumExist" idcard-validation />
            <span class="tips" ng-show="info.idCardNum.$error.idCard">身份证号输入不正确<span class="caret"></span></span>
        </div>
        <div class="input-group" data-ng-class="{disabled: isPhoneExist}">
            <span class="input-group-addon" for="phone">手机号</span>
            <input name="phone" type="tel" max="11" min="11" class="form-control" placeholder="请输入手机号码" data-ng-model="phone" ng-readonly="isPhoneExist" mobile />
            <span class="tips" ng-show="info.phone.$error.phone">手机号输入不正确<span class="caret"></span></span>
        </div>
        <p class="container-fluid">
        <small>若与您本人信息不一致，请返回{{merchantAppName}}修改</small>
        <br>
        <a ng-href="{{returnUrl}}">返回{{merchantAppName}}</a>
        </p>
        <div class="container-fluid">
            <button type="button" class="btn btn-alone btn-primary btn-block" data-ng-disabled="info.$invalid" data-ng-click="checkUserInfo()">确&nbsp;&nbsp;定</button>
        </div>
    </form>
    
</div>