<div ng-controller="SetPaypassCtrl" class="setpaypass-page">
    <form role="form" class="ng-pristine ng-valid" name="setPaypassForm">
        <div class="input-group">
            <span class="input-group-addon">支付密码</span>
            <input name="pwdText" type="{{pwdCtrl.pwdType}}" error-message="errorMsg" password-validate="payment" validate-data="extraData" class="form-control" placeholder="6位数字支付密码" ng-model="pwdCtrl.pwdText" required>
            <span class="tips" ng-show="setPaypassForm.pwdText.$error.payment"><span ng-bind="errorMsg"></span><span class="caret"></span></span>
        </div>
        <div class="container-fluid">
        <p class="clearfix change-pwd-type pull-right">
            <span class="btn-tips" ng-click="pwdCtrl.clickPwdFn()">{{pwdCtrl.btnWords}}</span>
        </p>
        <button type="button" class="btn btn-primary btn-block" ng-disabled="!setPaypassForm.$valid"  ng-click="pwdCtrl.handleSetPaypass()">确&nbsp;&nbsp;定</button>
        </div>
    </form>
</div>
